<form [formGroup]="toDoForm" (ngSubmit)="addToDo()">
  <div class="input-group">
    <div class="input-group-prepend">
      <a [routerLink]="['/to-do-list']" class="btn btn-outline-primary">Back to list</a>
    </div>
    <input formControlName="name" type="text" class="form-control" placeholder="What TODO?" />
    <div class="input-group-append">
      <input class="btn btn-primary" title="Add" type="submit" />
    </div>
  </div>
  <p *ngIf="toDoForm.get('name').value">
    Add {{toDoForm.get('name').value}} to your TODO list...
  </p>
</form>
